spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}
  application:
    name: skala-ium
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET}

cookie:
  secure: ${COOKIE_SECURE:false}

swagger:
  server:
    url: ${SWAGGER_SERVER_URL:http://localhost:8080}